<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="index.html">
            <div class="logo-img">
               <!--<img src="assets/src/img/brand-white.svg" class="header-brand-img" alt="lavalite"> -->
            </div>
            <span class="text">Hulk Store</span>
        </a>
        <!--<button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>-->
    </div>
    
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Menu</div>
                <div class="nav-item" routerLinkActive="active">
                    <a routerLink="/dasboard"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                </div>
                <div class="nav-item" routerLinkActive="active">
                    <a routerLink="/clientes"><i class="ik ik-users"></i><span>Clientes</span></a>
                </div>
                <div class="nav-item" routerLinkActive="active">
                    <a routerLink="/productos"><i class="ik ik-menu"></i><span>Productos</span></a>
                </div>
                <div class="nav-item" routerLinkActive="active">
                    <a routerLink="/facturas"><i class="ik ik-shopping-bag"></i><span>Factura</span></a>
                </div>
            </nav>
        </div>
    </div>
</div>
